<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <h2>Enter Report Card Info</h2>
    <h3>Student ID {{ current_student_id }}</h3>
    <h3>Grade {{ current_student_grade }}</h3>
    <p>Choose the Report Card Type</p>


    <select id="myDropdown">
    <option value="semester">Semester</option>
    <option value="trimester">Trimester</option>
    <option value="quarters">Quarters</option>
    </select>

<div id="Report_card_dynamic_content">
  <!-- Content will be loaded here -->
</div>
</body>
</html>