<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <h2>Enter Admissions Test Scores</h2>
    <h3>Student ID: {{ current_student_id }}</h3>
    <h3>Applying for Grade: {{ current_student_grade }}</h3>

<div>
    <input id = admissions.lang, placeholder = "Nationally Normed Language Score", type = int><input>
    <br><br>
    <input id = admissions.math, placeholder = "Nationally Normed Math Score", type = int><input>
    <br><br>
    <input id = admissions.reading, placeholder = "Nationally Normed Reading Score", type = int><input>
</div>

</body>

</html>