<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    {% include '_breadcrumbs.html' %}
    <h2>Exports</h2>

    <form action="{{ url_for('main.export_csv') }}", method = "POST">
        <button type="submit">Download csv with Updated Student Data</button>
    </form>

    {% if changes and changes|length > 0 %}
      <h3>Changed Fields</h3>
      <table id="changes" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Field</th>
            <th>Old Value</th>
            <th>New Value</th>
          </tr>
        </thead>
        <tbody>
          {% for change in changes %}
            {% for field, values in change.changes.items() %}
              <tr>
                <td>{{ change.key }}</td>
                <td>{{ field }}</td>
                <td>{{ values[0] }}</td>
                <td>{{ values[1] }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p style="color: #888; font-style: italic; margin-top: 20px;">No changes or updates found.</p>
    {% endif %}

    <br>
    <a href="{{ url_for('main.menu') }}"><button type="button">Back to Main Menu</button></a>
    
</body>
</html>