<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% include '_breadcrumbs.html' %}


<h1 style="text-align: center;">Admissions Management System</h1>
<h4 style="text-align: center;">Developed for Benjamin Franklin High School</h4>
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='/images/ams_logo.png') }}" width="300" height="200">
    <br>
</div>
<br>


<br>
<br>
<br>
<h3>SchoolMint Data Upload</h3>
<form action="{{ url_for('main.upload_schoolmint_csv') }}" method="POST" enctype="multipart/form-data">
    <label for="file">Upload SchoolMint CSV:</label>
    <input type="file" name="schoolmintfile" accept=".csv" required>
    <br>
    <br>
    <button type="submit">Upload</button>
</form>

        <p>{{ uploadresults }}</p>

</body>
</html>