<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
  margin: auto;
  width: 20%;
  border: 3px solid #73AD21;
  padding: 5px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
{% include '_breadcrumbs.html' %}

<h1 style="text-align: center;">Admissions Management System</h1>
<h4 style="text-align: center;">Developed for Benjamin Franklin High School</h4>

<div class="vertical-menu">
  <a href="/point_inputs" style="text-align: center;">Enter Report Card Grades</a>
  <a href="/merge_riverside" style="text-align: center;">Merge Riverside File</a>
  <a href="/upcoming_tests" style="text-align: center;">Upcoming Tests Info</a>
  <a href="/unresponsive_students" style="text-align: center;">Unresponsive Students</a>
  <a href="/exports" style="text-align: center;">Prepare csv for Export</a>
</div>

</body>
</html>