<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1 style="text-align: center;">Admissions Management System</h1>
<h4 style="text-align: center;">Developed for Benjamin Franklin High School</h4>
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='/images/ams_logo.png') }}" width="300" height="200">
    <br>
</div>
<br>


<br>
<br>
<br>
<h3>Riverside Data File Upload</h3>
<form action="{{ url_for('main.merge_riverside') }}" method="POST" enctype="multipart/form-data">
    <label for="file">Upload Riverside CSV (optional):</label>
    <input type="file" name="riversidefile" accept=".csv">
    <button type="submit">Merge Scores to Schoolmint File</button>
</form>

        <p>{{ uploadresults }}</p>

</body>
</html>