    {% include '_breadcrumbs.html' %}
    <h2>Search Students</h2>    
    <label for="site-search">Search for Student by ID:</label>

    <form action="/student_details", method = "GET">
    <input type="search" id="site-search" name="id_query", placeholder = "Enter Student ID" />
    <button>Search</button>
    </form>

    <div class="flash-message">
        <div class="msg-wrapper">
            {% with messages=get_flashed_messages(with_categories=true) %} 
                {% if messages %} 
                    {% for category,message in messages %}
                    <p class="{{category}} message">{{message}}</p>
                    {% endfor %} 
                {% endif %} 
            {% endwith %}
        </div>
    </div>

{% extends "base.html" %}   

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
        {% for record in records %}
        <tr>                 
            {% for header in headers %}
                {% if header == 'id' %}
                    <td><a href ="{{ url_for('main.student_details', id_query = record[header])}}">{{ record[header] }}</a></td>
                {% else %}
                    {% if record[header] != 'nan' %}
                        <td>{{ record[header] }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}