<!DOCTYPE html>
<html>
<head>
    <title>Admissions Management System</title>
</head>
<body>
    {% include '_breadcrumbs.html' %}

    <h2>Upcoming Tests</h2>

            <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        justify-items: flex-end;
        width: fit-content;
        padding: 100dp;
        text-align: center;
        }
        </style>

    <form method="POST">
        <label for="upcoming_tests_dropdown">Choose a test date</label>
        <select name = "upcoming_tests_dropdown" id="upcoming_tests_dropdown">
            <option selected value="" disabled>Select a Test Date</option>
            {% for date in dates %}
                <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <br>
    <br>

    <h2>Showing Details for: {{selected_test_date}}</h2>

    
    
    <table>
    <tr>
        <th></th>
        <th colspan="3"> First Test</th>
        <th colspan="3"> Retesters</th>
        <th colspan="2"></th>
    </tr>

    <tr>
        <th></th>
        <th> 8th</th>
        <th> 9th</th>
        <th>10th</th>
        <th> 8th</th>
        <th> 9th</th>
        <th>10th</th>
        <th>Total</th>
        <th> Rec # of Rooms</th>
    </tr>

    <tr>
        <td>Standard Time</td>
        <td>{{test_day_numbers.firststandard8}}</td>
        <td>{{test_day_numbers.firststandard9}}</td>
        <td>{{test_day_numbers.firststandard10}}</td>
        <td>{{test_day_numbers.reteststandard8}}</td>
        <td>{{test_day_numbers.reteststandard9}}</td>
        <td>{{test_day_numbers.reteststandard10}}</td>
        <td>{{test_day_numbers.totalstandard}}</td>
        <td>{{test_day_numbers.totalstandardrooms}}</td>
    </tr>

    <tr>
        <td>Eligible for Accommodations</td>
        <td>{{test_day_numbers.firstaccomms8}}</td>
        <td>{{test_day_numbers.firstaccomms9}}</td>
        <td>{{test_day_numbers.firstaccomms10}}</td>
        <td>{{test_day_numbers.retestaccomms8}}</td>
        <td>{{test_day_numbers.retestaccomms9}}</td>
        <td>{{test_day_numbers.retestaccomms10}}</td>
        <td>{{test_day_numbers.totalaccomms}}</td>
        <td>{{test_day_numbers.totalaccommsrooms}}</td>
    </tr>

    <tr>
        <td>Totals</td>
        <td colspan="3">Total First Test: {{test_day_numbers.totalfirsttesters}}</td>
        <td colspan="3">Total Retest: {{test_day_numbers.totalretesters}}</td>
        <td>Total Testers: {{test_day_numbers.totalstudents}}</td>
        <td>Total Rooms: {{test_day_numbers.totalrooms}}</td>
    </tr>

    


</table>
</body>
</html>